#gradiente-linear-con-angulos {
    height: 250px;
    width: 250px;
}
#gradiente-linear-multiples-colores{
    height: 250px;
    width: 250px;
    background-image: linear-gradient(red, yellow, blue);
}
#gradiente-linear-multiples-colores-2 {
    height: 250px;
    width: 250px;
    background-image: linear-gradient(to right, blue, red, orange, purple, orange);
}
.edad {
    height: 695px;
    width: 250px;
    border-radius: 68%;
    color:white;
    border-color: black;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(to top left, blue, orange, red ,purple, yellow, brown, white);
}
#gradiente-linear-transparencia {
    height: 250px;
    width: 250px;
    background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,0,0,1));
}
#repetir-gradiente-linear {
    height: 250px;
    width: 800px;
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}