body{
    text-align: center;
}

#girar {
    height: 250px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(20deg);
}
#torcer{
    height: 250px;
    width: 250px;
    background-color: brown;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: skewY(20deg);
}
.girar2{
    
    height: 250px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(180deg);
}
.torcer2{
  
    height: 250px;
    width: 250px;
    background-color: brown;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: skew(45deg)
}
#crecer {
    height: 250px;
    width: 250px;
    background-color: brown;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: scaleX(120);
}